/* CSS Document */
body,ul,p,dl,dt,dd,hl,table,tr,tdd,th,h2,li{margin: 0;padding: 0;list-style: none;outline: none;border: 0}
bofy{color: #6c6c6c;font-size: 12px;font-family: "微软雅黑"}
a:link,a:visited{text-decoration: none;color: #6C6C6C}
a:hover{text-decoration: none}
html,body,page{width: 100%;height: 100%}
page{position: absolute;padding-top: 30%;padding-left: 30%;}
#top_bg{width: 100%;height: 30px;background: #f7f7f7;animation: a1 1s infinite
;}
#top{width: 980px;height: 30px;line-height: 30px;margin: auto}
.left{float: left;}
.right{float: right}
#top li{float: left;padding: 0 10px 0 0}
#top .line{color: #ccc}
.right li{cursor: pointer;border: 1px solid #f7f7f7}
.right li span{padding: 0 9px}
.right .list{position: relative}
.right #list_cur{width: 100px;position: absolute;left: -1px;top:30px;background-color: #fff ;border: 1px solid #eee}
.right #list_cur a{display: block;padding: 0 10px;line-height: 28px;color: #6C6C6C}
.right #list_cur a:hover{background: #f5f5f5}
@keyframes a1 {
    from{background: #00b5e5}
    to{background: #00FF00;opacity: 0}
}
@keyframes a2 {
    0%{opacity: 0}
    25%{opacity: 100}
    50%{opacity: 0}
    100%{opacity: 0}
}
@keyframes a3 {
    0%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 100}
    100%{opacity: 0}
}
@keyframes season1 {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes season2 {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes season3 {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes season4 {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}
p{font-size: 100px;position: absolute;width: 100%;text-align: center;margin-top: 200px;}
.b1{animation: a2 10s infinite;animation-timing-function: ease-in-out;}
.b2{animation: a3 10s infinite;}
page{font-size: 180px;}
.d1{background: #00FF00;animation: season1 10s infinite;}
.d2{background: #be1931;animation: season2 10s infinite;}
.d3{background: #DD7E20;animation: season3 10s infinite;}
.d4{background: #00A1D6;animation: season4 10s infinite;}